.whtext{
	padding: 0;
	margin: 0;
	text-indent: 2em;
}
.whdiv{
	width: 73%;
	margin: auto;
	line-height: 30px;

}
.whli{
	font-size: 16px;
	font-weight: bold;
}
.hr{
	padding: 0;
	margin: 0;
	border:none;
	border-top: 1px solid #ddd;
	width: 80%;
	margin: 50px auto;
}